<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuyuan.judd.scheduler.dataaccess.mapper.ExecutionLockLogDoMapper">
    <!--新增ScheduleLogDo记录-->
    <insert id="insert"
            parameterType="com.shuyuan.judd.scheduler.dataaccess.dataobject.ExecutionLockLogDo"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT  INTO execution_lock_log(owner,expire_time,create_time,status)
					  VALUES (#{owner},#{expireTime},NOW(),1);
	</insert>

</mapper>