<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monefish.judd.scheduler.dataaccess.mapper.ScheduleLogDoMapper">
    <!--新增ScheduleLogDo记录-->
    <insert id="insert" parameterType="com.monefish.judd.scheduler.dataaccess.dataobject.ScheduleLogDo">
		INSERT  INTO schedule_log(log_no,task_id,pre_log_no,progress,completed,create_time,status)
					  VALUES (#{logNo},#{taskId},#{preLogNo},#{progress},#{completed},NOW(),1);
	</insert>

    <!--修改ScheduleLogDo记录-->
    <update id="update" parameterType="com.monefish.judd.scheduler.dataaccess.dataobject.ScheduleLogDo">
        UPDATE schedule_log u
        <set>
            <if test="taskId!=null ">u.task_id=#{taskId},</if>
            <if test="preLogNo!=null">u.pre_log_no=#{preLogNo},</if>
            <if test="progress!=progress and progress.trim()!=''">u.progress=#{progress},</if>
            <if test="completed!=null">u.completed=#{completed},</if>
            u.update_time=NOW()
        </set>
        WHERE u.log_no=#{logNo} and status = 1;
    </update>

    <update id="updateState">
        UPDATE schedule_log u
        <set>
            <if test="scheduleLogDo.progress!=null and scheduleLogDo.progress.trim()!=''">u.progress=#{scheduleLogDo.progress},</if>
            <if test="scheduleLogDo.completed!=null">u.completed=#{scheduleLogDo.completed},</if>
            u.update_time=NOW()
        </set>
        WHERE u.log_no=#{scheduleLogDo.logNo} and progress=#{oldProgress} and status=1;
    </update>

    <select id="getByLogNo" resultType="com.monefish.judd.scheduler.dataaccess.dataobject.ScheduleLogDo">
        SELECT * FROM schedule_log u where log_no = #{logNo} AND u.status=1;
    </select>

    <select id="getByQuery"
            parameterType="com.monefish.judd.scheduler.model.portal.ScheduleLogQuery"
            resultType="com.monefish.judd.scheduler.dataaccess.dataobject.ScheduleLogDo">
        SELECT
        *
        FROM
        schedule_log
        WHERE
        status=1
        <if test="startDate!=null and startDate.trim()!=''">
            AND <![CDATA[    create_time >=#{startDate}]]>
        </if>
        <if test="endDate!=null and endDate.trim()!=''">
            AND <![CDATA[    create_time <#{endDate}]]>
        </if>
        <if test="search!=null and search.trim() != ''">
            AND (name LIKE CONCAT('%',#{search},'%') OR ScheduleLogDo_name LIKE
            CONCAT('%',#{search},'%'))
        </if>
        <if test="pid != null">
            AND pid = #{pid}
        </if>
        <if test="createScheduleLogDo != null">
            AND create_ScheduleLogDo = #{createScheduleLogDo}
        </if>
        <if test="merchantNo != null and merchantNo.trim() != ''">
            AND merchant_no = #{merchantNo}
        </if>
        order by create_time desc
        <if test="pageSize!=null and pageSize > 0">
            LIMIT #{page},#{pageSize}
        </if>
    </select>
    <select id="getCountByQuery"
            parameterType="com.monefish.judd.client.model.request.portal.order.WithdrawOrderQuery"
            resultType="map">
        SELECT
        count(log_no) as count
        FROM
        schedule_log
        WHERE
        status=1
        <if test="startDate!=null and startDate.trim()!=''">
            AND <![CDATA[    create_time >=#{startDate}]]>
        </if>
        <if test="endDate!=null and endDate.trim()!=''">
            AND <![CDATA[    create_time <#{endDate}]]>
        </if>
        <if test="search!=null and search.trim() != ''">
            AND (name LIKE CONCAT('%',#{search},'%') OR ScheduleLogDo_name LIKE
            CONCAT('%',#{search},'%'))
        </if>
        <if test="pid != null">
            AND pid = #{pid}
        </if>
        <if test="createScheduleLogDo != null">
            AND create_ScheduleLogDo = #{createScheduleLogDo}
        </if>
        <if test="merchantNo != null and merchantNo.trim() != ''">
            AND merchant_no = #{merchantNo}
        </if>
    </select>

</mapper>